@import "tailwindcss";
:root {
    line-height: 1.5;
    font-weight: 400;

    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    user-select: none;
    background-color: #242424;
}

* {
    appearance: none !important;
}
*:focus {
    outline: none;
}
#app {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
    text-align: center;
    background-color: red;
}
